/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
/**/
.bg-img {
  background-image: url('../img/bg-cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.filter-wrapper ul, .filter-wrapper li {
  padding-left: 0;
  list-style-type: none;
  color: #666666;
}
.filter-wrapper li a {
  text-decoration: none;
  color: #757575;
  font-size: 1.4rem;
}
.filter-wrapper li {
  display: flex;
  padding: .2rem 1.4rem;
  border-radius: 25px;
  background-color: #fff;
  margin: 0 1rem;
  align-items: center;
  min-height: 40px;
}
.filter-wrapper li p {
  margin-bottom: 0;
  font-size: .875rem;
}
.filter-wrapper li:not(:first-child) {
  background-color: #FFCE00;
}
.filter-wrapper li img {
  width: 12px;
  margin-left: 8px;
}
.logo-div {
  width: 160px;
}
/*  */
.box-col-outer {
  width: 261px;
  cursor: pointer;
}
.box-col {
  max-width: 261px;
  min-height: 259px;
  background-color: #DEE3E8;
  border-radius: 37px;
  padding: 2rem;
}
.app-box-outer {
  width: calc(100%/2);
}
.app-box {
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0,0,0,.05);
  border-radius: 25px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-bottom: .2rem;
}
/*  */
/* .item-video {
  height: 150px;
} */
.nav-c {
  height: 124px;
  position: absolute;
  width: 86px;
  cursor: pointer;
  top: 10px !important;
  background-size: 100% !important;
}
.carousel-wrap.carousel-wrap-modal .nav-c {
  height: 84px;
  width: 56px;
}
.carousel-wrap.carousel-wrap-modal .item-video {
  height: 100px;
}
.carousel-wrap {
  margin: 0 auto;
  width: calc(100% - 175px);
}
.carousel-wrap.carousel-wrap-modal {
  width: calc(100% - 125px);
}
.carousel-wrap.carousel-wrap-modal .owl-carousel .nav-prev {
  left: -60px;
}
.carousel-wrap.carousel-wrap-modal .owl-carousel .nav-next {
  right: -60px;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}
.owl-carousel .nav-prev{
  background: url(../img/prev-icon.svg) no-repeat scroll 0 0;
  left: -93px;
  transition: all .3s;
}
.owl-carousel .nav-next{
  background: url(../img/next-icon.svg) no-repeat scroll 0 0px;
  right: -93px;
  transition: all .3s;
}
.owl-carousel .nav-prev:hover{
 background-position: -4px 0;
 transition: all .3s;
}
.owl-carousel .nav-next:hover{
background-position: 4px 0;
transition: all .3s;
} 

/*  */
body {
  /* overflow-x: hidden; */
  color: #666;
}
body.modal-open {
  z-index: 0;
  transform: scale(1);
  overflow: hidden;
  height: 100%;
}
body.modal-open .modal-dialog {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body.modal-open .container-main {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body .modal-dialog {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body .container-main {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-fullscreen .modal-content {
  height: auto;
}
/* .modal-open .modal-backdrop {
  display: table;
  height: 100%;
  width: 100%;
} */
/* .modal-backdrop.show {
  opacity: 1;
} */
/* .modal {
  opacity: 0;
} */
/* .modal.show {
  display: table !important;
  width: 100%;
  
  height: 100%;
  opacity: 1;
} */
/* .modal.show .modal-dialog {
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
  padding: 3rem;
}
.modal .modal-dialog {
  opacity: 0;
}
.modal-content {
  height: 100%;
  overflow: auto;
} */

.modal-content-container {
  margin: 0 auto;
  max-width: 1140px;
  height: auto;
}
.use-case-inner-body {
  max-width: 800px;
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/*  */
.case-link {
  max-width: 300px;
  cursor: pointer;
}
.case-img {
  background: rgba(0,0,0,.2);
  display: inline-block;
  border-radius: 50%;
  max-width: 355px;
  width: 100%;
  padding: 1.5rem;
}
.custom-search.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  /* border: 1px solid #6666662b; */
  /* background-color: #fff; */
  max-width: 600px;
  height: 57px;
}
.custom-search .input-group-text-icon {
  padding: .375rem 1rem;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 7px;
  top: 9px;
  z-index: 9;
}
.custom-search .form-control {
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 30px !important;
  padding-left: 80px;
  padding-right: 60px;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  border: 1px solid #f1f1f1;
}
.custom-search .input-group-prepend {
  position: absolute;
    left: 0;
    z-index: 9;
    border:none;
    background: transparent;
    top: 14px;
}
.custom-search .input-group-prepend:after {
  content: '';
  height: 41px;
  width: 3px;
  position: absolute;
  right: 0;
  top: -6px;
  background-color: #b7b5b5;
}
.custom-search .form-control:focus,
.custom-search .form-control:active,
.custom-search .form-control.active {
  border-color: #4e43f9;
  box-shadow: 0 0 0 5px rgb(78 67 249 / 65%);
  outline: none;
}
.modal-header .btn-close {
  background-size: 1.6em;
}
/*  */
.books-grid {
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}
.book-grid-img {
    height: 140px;
}
.book-grid-content {
  border-color: #707070;
  font-size: .875rem;
}
.book-grid-content a {
  color: #2619AF;
}
/* scroll */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #666;
}
.modal::-webkit-scrollbar-thumb
{
	background-color: #4285F4;
}
/* news */
.sub-text i{
  color: #1BBDFA;
}
.reactions .likes {
  color: #FF235D;
}

.book {
  color: #ABADB2;
  font-size: 1.1rem;
  position: relative;
}
.book:before {
  content: '+';
  position: absolute;
  background-color: #fff;
  font-size: 13px;
  top: 13px;
  right: -3px;
  height: 16px;
  display: inline-flex;
  border-radius: 60px;
  align-items: center;
  padding: 0;
  height: 10px;
}
.owl-carousel-news .item {
  padding: 7px 3px;
}
.owl-carousel-news .nav-c {
  top: 27% !important;
}
.owl-carousel-videos .embed-responsive-item {
  width: 100%;
}
.owl-carousel-videos .owl-stage-outer.owl-height {
  height: auto;
}
.owl-carousel-videos .owl-item {
  min-height: 140px !important;
}

.owl-carousel-videos .nav-c {
  top: 30px !important;
}
.btn-drop-custom {
  background-color: #DEE3E8;
  color: #666;
  border-radius: 10px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #809FB8;
  border-right: 2px solid #809FB8;
  transform: rotate(135deg);
  border-left: 0;
  position: relative;
  top: 2px;
  left: 2px;
}
ul.filter-wrapper-outline li {
  min-height: 50px;
    background: #fff !important;
    border: 5px solid #FFCE00;
}
ul.filter-wrapper-outline li p {
  font-size: 1.2rem;
  color: #06152B;
}
.tabs-style-custom.nav-tabs {
  border: 4px solid #666;
  border-radius: 10px;
  overflow: hidden;
  display: inline-flex;
}

.tabs-style-custom.nav-tabs .nav-link,
.tabs-style-custom.nav-tabs .nav-item.show .nav-link,
.tabs-style-custom.nav-tabs .nav-link.active {
  color: #06152B;
  border-radius: 0;
  font-weight: 500;
  
}
.tabs-style-custom.nav-tabs .nav-link,
.tabs-style-custom.nav-tabs .nav-item.show .nav-link {
  border-width: 0 1px 0 0;
  border-color: #06152B;
}
.tabs-style-custom.nav-tabs .nav-item:last-child .nav-link {
  border: 0;
}
button.btn-close.btn-icon-custom {
  background-image: none;
  width: auto;
  height: auto;
}

@keyframes push {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.case-img {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.case-img:hover {
  animation-name: push;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.btn-modal.bnt-warning {
  background-color: #FFCE00;
}
.container-small {
  max-width: 991px;
  width: 100%;
}
/* media */
@media(max-width: 1140px) {
  .nav-tabs .nav-link {
    padding: .5rem .5rem;
  }
}
@media (max-width: 992px) {
  .modal.show .modal-dialog {
    padding: 1rem;;
  }
}
@media (max-width: 800px) {
  .tabs-style-custom.nav-tabs .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
@media (max-width: 768px) {
  /* #searchResult.modal.show,
  #searchResult.modal.show .modal-dialog {
    display: block !important;
  } */
  #searchResult .filter-wrapper-outline {
    justify-content: flex-start !important;
    padding-left: 0;
  }
  #searchResult ul.filter-wrapper-outline li {
    padding: .2rem 1.4rem;
    margin: 5px 5px 5px 0;
  }
  .custom-search .form-control {
    font-size: 1.1rem;
  }
  button.btn-close.btn-icon-custom img {
    width: 18px;
  }
  button.btn-close.btn-icon-custom img[width="36px"] {
    width:24px;
  }
  .carousel-wrap.carousel-wrap-home {
    width: calc(100% - 75px);
  }
  .carousel-wrap.carousel-wrap-home .owl-carousel .nav-prev {
    left: -53px;
  }
  .carousel-wrap.carousel-wrap-home .owl-carousel .nav-next {
    right: -53px;
  }
  .carousel-wrap.carousel-wrap-home .nav-c {
    height: 74px;
    width: 46px;
    top: 48px !important;
  }
  .nav-tabs .nav-link {
    font-size: .875rem;
  }
}
