@media (max-width: 390px) {
    .wrapper-tabs {
        position:relative;
        margin:0 auto;
        overflow:hidden;
        padding:5px;
          height:50px;
    }
    
    .list {
        position:absolute;
        left:0px;
        top:0px;
          min-width:360px;
          margin-left:0;
        margin-top:0px;
    }
    
    .list li{
        display:table-cell;
        position:relative;
        text-align:center;
        cursor:grab;
        cursor:-webkit-grab;
        color:#efefef;
        vertical-align:middle;
    }
    
    .scroller {
        text-align: center;
        cursor: pointer;
        display: none;
        padding: 5px 5px;
        /* padding-top: 11px; */
        white-space: no-wrap;
        vertical-align: middle;
        background-color: #fff;
        font-size: 20px;
    }
    
    .scroller-right{
      float:right;
    }
    
    .scroller-left {
      float:left;
    }
    .tabs-style-custom.nav-tabs .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}